<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrdersMapper">
    
    <resultMap type="Orders" id="OrdersResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="actualPrice"    column="actual_price"    />
        <result property="discountAmount"    column="discount_amount"    />
        <result property="isRepurchase"    column="is_repurchase"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="address"    column="address"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
    </resultMap>

    <sql id="selectOrdersVo">
        select o.order_id, o.order_no, o.user_id, o.product_id, o.product_name, o.original_price, o.actual_price, o.discount_amount, o.is_repurchase, o.province, o.city, o.address, o.order_status, o.create_time,
               u.user_name, u.nick_name
        from orders o
        left join sys_user u on o.user_id = u.user_id
    </sql>

    <select id="selectOrdersList" parameterType="Orders" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and o.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="userId != null "> and o.user_id = #{userId}</if>
            <if test="productId != null "> and o.product_id = #{productId}</if>
            <if test="productName != null  and productName != ''"> and o.product_name like concat('%', #{productName}, '%')</if>
            <if test="isRepurchase != null "> and o.is_repurchase = #{isRepurchase}</if>
            <if test="province != null  and province != ''"> and o.province like concat('%', #{province}, '%')</if>
            <if test="city != null  and city != ''"> and o.city like concat('%', #{city}, '%')</if>
            <if test="orderStatus != null "> and o.order_status = #{orderStatus}</if>
        </where>
        order by o.create_time desc
    </select>
    
    <select id="selectOrdersByOrderId" parameterType="Long" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        where o.order_id = #{orderId}
    </select>
        
    <insert id="insertOrders" parameterType="Orders" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="actualPrice != null">actual_price,</if>
            <if test="discountAmount != null">discount_amount,</if>
            <if test="isRepurchase != null">is_repurchase,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="address != null">address,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="actualPrice != null">#{actualPrice},</if>
            <if test="discountAmount != null">#{discountAmount},</if>
            <if test="isRepurchase != null">#{isRepurchase},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="address != null">#{address},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateOrders" parameterType="Orders">
        update orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="actualPrice != null">actual_price = #{actualPrice},</if>
            <if test="discountAmount != null">discount_amount = #{discountAmount},</if>
            <if test="isRepurchase != null">is_repurchase = #{isRepurchase},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="address != null">address = #{address},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrdersByOrderId" parameterType="Long">
        delete from orders where order_id = #{orderId}
    </delete>

    <delete id="deleteOrdersByOrderIds" parameterType="String">
        delete from orders where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>
